<p id="notice"><%= notice %></p>

<p>
  <strong>Financial planner name:</strong>
  <%= @financial_planner.financial_planner_name %>
</p>

<%= link_to 'Edit', edit_financial_planner_path(@financial_planner) %> |
<%= link_to 'Back', root_url %>